## Exploratory Data Analysis

Use this notebook to get familiar with the datasets we have. There is 10 questions we need to answer during the EDA.


We shouldn't limit our EDA to these 10 questions. Let's be creative :).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
#df_train = pd.read_csv('sample_submission.csv')
#df_train

In [3]:
import pandas as pd

df = pd.read_csv (r'flights_test.csv')
#prints full flights_tests dataframe will all columns
#print (df) 
df_flight_test = df[['fl_date', 'mkt_carrier', 'mkt_carrier_fl_num', 'origin', 'dest', 'crs_elapsed_time']]
#shows new dataframe with selected features

#df_flight_test

In [21]:
df_flight_test[['crs_elapsed_time']].describe()

       crs_elapsed_time
count     660556.000000
mean         140.918700
std           71.570367
min          -77.000000
25%           90.000000
50%          122.000000
75%          171.000000
max          700.000000

In [5]:
#missing values in flight_tests dataframe
total_flight_test = df_flight_test.isnull().sum().sort_values(ascending=False)
percent_flight_test = (df_flight_test.isnull().sum()/df_flight_test.isnull().count()).sort_values(ascending=False)
missing_data_flight_test = pd.concat([total_flight_test, percent_flight_test], axis=1, keys=['Total', 'Percent'])
missing_data_flight_test.head(20)

                    Total  Percent
crs_elapsed_time        0      0.0
dest                    0      0.0
origin                  0      0.0
mkt_carrier_fl_num      0      0.0
mkt_carrier             0      0.0
fl_date                 0      0.0

In [59]:
df_flights_total = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/flights.csv')
#prints full flights dataframe will all columns
df_flights_total.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-08-11,WN,WN,WN,2779,WN,N7831B,2779,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-08-11,WN,WN,WN,3413,WN,N743SW,3413,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-11,WN,WN,WN,4131,WN,N7738A,4131,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-08-11,WN,WN,WN,4159,WN,N8538V,4159,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-11,WN,WN,WN,4254,WN,N427WN,4254,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_flights_total.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [8]:
len(df_flights_total.columns)

42

In [34]:
#missing values in flight dataframe
total = df_flights_total.isnull().sum().sort_values(ascending=False)
percent = (df_flights_total.isnull().sum()/df_flights_total.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total   Percent
late_aircraft_delay  12918001  0.811051
nas_delay            12918001  0.811051
weather_delay        12918001  0.811051
carrier_delay        12918001  0.811051
security_delay       12918001  0.811051
arr_delay              311744  0.019573
actual_elapsed_time    309157  0.019410
taxi_out               273274  0.017157
dep_delay              263754  0.016560
crs_elapsed_time           20  0.000001
crs_arr_time                0  0.000000
distance                    0  0.000000
crs_dep_time                0  0.000000
dest                        0  0.000000
dest_airport_id             0  0.000000
origin                      0  0.000000
origin_airport_id           0  0.000000
op_carrier_fl_num           0  0.000000
op_unique_carrier           0  0.000000
fl_date                     0  0.000000

In [70]:
#New datafram with selected features 

df_flights = df_flights_total[['fl_date' , 'op_unique_carrier', 'op_carrier_fl_num' , 'origin_airport_id', 'origin','origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name','crs_dep_time' , 'dep_delay', 'taxi_out', 'crs_arr_time','arr_delay' , 'crs_elapsed_time' , 'actual_elapsed_time' , 'distance', 'carrier_delay', 'weather_delay','nas_delay', 'security_delay' ,'late_aircraft_delay']]
df_flights

,fl_date,op_unique_carrier,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,...,crs_arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019-08-11,WN,2779,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",830,...,935,-13.0,65.0,53.0,296,NaN,NaN,NaN,NaN,NaN
1,2019-08-11,WN,3413,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",2050,...,2155,-2.0,65.0,64.0,296,NaN,NaN,NaN,NaN,NaN
2,2019-08-11,WN,4131,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1020,...,1130,-9.0,70.0,62.0,296,NaN,NaN,NaN,NaN,NaN
3,2019-08-11,WN,4159,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1325,...,1430,1.0,65.0,67.0,296,NaN,NaN,NaN,NaN,NaN
4,2019-08-11,WN,4254,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1650,...,1805,-14.0,75.0,61.0,296,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15927480,2019-08-11,WN,2539,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",2000,...,2120,-7.0,80.0,70.0,326,NaN,NaN,NaN,NaN,NaN
15927481,2019-08-11,WN,3727,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",845,...,1010,4.0,85.0,82.0,326,NaN,NaN,NaN,NaN,NaN
15927482,2019-08-11,WN,4174,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",1415,...,1535,-7.0,80.0,68.0,326,NaN,NaN,NaN,NaN,NaN
15927483,2019-08-11,WN,4443,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",1735,...,1900,-17.0,85.0,71.0,326,NaN,NaN,NaN,NaN,NaN
15927484,2019-08-11,WN,5618,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",2140,...,2255,-5.0,75.0,70.0,326,NaN,NaN,NaN,NaN,NaN

In [65]:
print(df_flights.isnull().sum())

fl_date                       0
op_unique_carrier             0
op_carrier_fl_num             0
origin_airport_id             0
origin                        0
origin_city_name              0
dest_airport_id               0
dest                          0
dest_city_name                0
crs_dep_time                  0
dep_delay                263754
taxi_out                 273274
crs_arr_time                  0
arr_delay                311744
crs_elapsed_time             20
actual_elapsed_time      309157
distance                      0
carrier_delay          12918001
weather_delay          12918001
nas_delay              12918001
security_delay         12918001
late_aircraft_delay    12918001
dtype: int64

In [69]:
# select rows containing '2019'
flights_df_2019 = df_flights.filter(like='2019', axis=0)
flights_df_2019.head()

,fl_date,op_unique_carrier,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,...,crs_arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
2019,2019-08-11,WN,4695,13495,MSY,"New Orleans, LA",15304,TPA,"Tampa, FL",1520,...,1800,-10.0,100.0,90.0,488,NaN,NaN,NaN,NaN,NaN
12019,2019-08-11,OO,3212,11111,COU,"Columbia, MO",11298,DFW,"Dallas/Fort Worth, TX",1522,...,1706,-18.0,104.0,92.0,489,NaN,NaN,NaN,NaN,NaN
20190,2019-08-11,PT,4916,14100,PHL,"Philadelphia, PA",14524,RIC,"Richmond, VA",845,...,1010,-22.0,85.0,73.0,198,NaN,NaN,NaN,NaN,NaN
20191,2019-08-11,PT,4916,14524,RIC,"Richmond, VA",14100,PHL,"Philadelphia, PA",1037,...,1141,-15.0,64.0,57.0,198,NaN,NaN,NaN,NaN,NaN
20192,2019-08-11,PT,4918,10721,BOS,"Boston, MA",15096,SYR,"Syracuse, NY",1907,...,2033,-10.0,86.0,80.0,265,NaN,NaN,NaN,NaN,NaN

In [75]:

#( Convert the date to datetime64)

df_flights['fl_date'] = pd.to_datetime(df_flights['fl_date'], format='%Y-%m-%d')
  
# Filter data between two dates
filtered_df = df_flights.loc[(df_flights['fl_date'] >= '2019-05-01')
                     & (df_flights['fl_date'] < '2019-12-31')]
# Display
filtered_df

,fl_date,op_unique_carrier,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,...,crs_arr_time,arr_delay,crs_elapsed_time,actual_elapsed_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019-08-11,WN,2779,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",830,...,935,-13.0,65.0,53.0,296,NaN,NaN,NaN,NaN,NaN
1,2019-08-11,WN,3413,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",2050,...,2155,-2.0,65.0,64.0,296,NaN,NaN,NaN,NaN,NaN
2,2019-08-11,WN,4131,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1020,...,1130,-9.0,70.0,62.0,296,NaN,NaN,NaN,NaN,NaN
3,2019-08-11,WN,4159,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1325,...,1430,1.0,65.0,67.0,296,NaN,NaN,NaN,NaN,NaN
4,2019-08-11,WN,4254,10800,BUR,"Burbank, CA",14831,SJC,"San Jose, CA",1650,...,1805,-14.0,75.0,61.0,296,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15927480,2019-08-11,WN,2539,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",2000,...,2120,-7.0,80.0,70.0,326,NaN,NaN,NaN,NaN,NaN
15927481,2019-08-11,WN,3727,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",845,...,1010,4.0,85.0,82.0,326,NaN,NaN,NaN,NaN,NaN
15927482,2019-08-11,WN,4174,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",1415,...,1535,-7.0,80.0,68.0,326,NaN,NaN,NaN,NaN,NaN
15927483,2019-08-11,WN,4443,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",1735,...,1900,-17.0,85.0,71.0,326,NaN,NaN,NaN,NaN,NaN
15927484,2019-08-11,WN,5618,10800,BUR,"Burbank, CA",14771,SFO,"San Francisco, CA",2140,...,2255,-5.0,75.0,70.0,326,NaN,NaN,NaN,NaN,NaN

In [76]:
print(filtered_df.isnull().sum())

fl_date                      0
op_unique_carrier            0
op_carrier_fl_num            0
origin_airport_id            0
origin                       0
origin_city_name             0
dest_airport_id              0
dest                         0
dest_city_name               0
crs_dep_time                 0
dep_delay                82252
taxi_out                 85618
crs_arr_time                 0
arr_delay               101061
crs_elapsed_time             2
actual_elapsed_time     101061
distance                     0
carrier_delay          4453816
weather_delay          4453816
nas_delay              4453816
security_delay         4453816
late_aircraft_delay    4453816
dtype: int64

## Passenger dataframe:

In [12]:
df_passengers = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/passengers.csv')
#prints full passanger dataframe will all columns
df_passengers.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,1,1,13500,50,0,0,0,293,69,49,...,US,United States,6,629,1,2017,11,1,F,DU
1,1,1,13500,50,0,0,0,522,129,82,...,US,United States,6,629,1,2017,11,2,F,DU
2,1,1,18740,70,48,0,0,73,49,24,...,US,United States,6,631,1,2017,11,1,F,DU
3,1,1,13500,50,0,0,0,604,134,92,...,US,United States,6,629,1,2017,11,2,F,DU
4,1,1,15200,76,0,0,0,924,168,112,...,US,United States,6,673,1,2017,11,2,F,DU

In [22]:
#missing values in passengers dataframe
total_passengers = df_passengers.isnull().sum().sort_values(ascending=False)
percent_passengers = (df_passengers.isnull().sum()/df_passengers.isnull().count()).sort_values(ascending=False)
missing_data_passengers = pd.concat([total_passengers, percent_passengers], axis=1, keys=['Total', 'Percent'])
missing_data_passengers.head(28)

                       Total  Percent
data_source                0      0.0
air_time                   0      0.0
carrier_group              0      0.0
carrier_name               0      0.0
carrier                    0      0.0
region                     0      0.0
unique_carrier_name        0      0.0
airline_id                 0      0.0
unique_carrier             0      0.0
ramp_to_ramp               0      0.0
class                      0      0.0
distance                   0      0.0
mail                       0      0.0
freight                    0      0.0
passengers                 0      0.0
seats                      0      0.0
payload                    0      0.0
departures_performed       0      0.0
carrier_group_new          0      0.0
origin_airport_id          0      0.0
origin_city_market_id      0      0.0
origin                     0      0.0
distance_group             0      0.0
month                      0      0.0
year                       0      0.0
aircraft_config            0      0.0
aircraft_type              0      0.0
aircraft_group             0      0.0

In [14]:
df_passengers = df_passengers.dropna()
#df_passengers.head()

In [15]:
#to show that the total_passengers = df_passengers.isnull().sum().sort_values(ascending=False)
percent_passengers = (df_passengers.isnull().sum()/df_passengers.isnull().count()).sort_values(ascending=False)
missing_data_passengers = pd.concat([total_passengers, percent_passengers], axis=1, keys=['Total', 'Percent'])
missing_data_passengers.head(20)

                      Total  Percent
origin_country            3      0.0
data_source               0      0.0
air_time                  0      0.0
carrier_name              0      0.0
carrier                   0      0.0
region                    0      0.0
unique_carrier_name       0      0.0
airline_id                0      0.0
unique_carrier            0      0.0
ramp_to_ramp              0      0.0
carrier_group_new         0      0.0
distance                  0      0.0
mail                      0      0.0
freight                   0      0.0
passengers                0      0.0
seats                     0      0.0
payload                   0      0.0
departures_performed      0      0.0
carrier_group             0      0.0
origin_airport_id         0      0.0

In [16]:

df_fuel_comsumption = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/fuel_comsumption.csv')
#prints full fuel consumption dataframe will all columns
df_fuel_comsumption = df_fuel_comsumption.dropna()
#df_fuel_comsumption.head()

In [17]:
#missing values in fuel consumption dataframe
total_fuel_comsumption = df_fuel_comsumption.isnull().sum().sort_values(ascending=False)
percent_fuel_comsumption = (df_fuel_comsumption.isnull().sum()/df_fuel_comsumption.isnull().count()).sort_values(ascending=False)
missing_fuel_comsumption = pd.concat([total_fuel_comsumption, percent_fuel_comsumption], axis=1, keys=['Total', 'Percent'])
missing_fuel_comsumption.head(20)

                   Total  Percent
year                   0      0.0
ts_gallons             0      0.0
airline_id             0      0.0
unique_carrier         0      0.0
carrier                0      0.0
carrier_name           0      0.0
carrier_group_new      0      0.0
sdomt_gallons          0      0.0
satl_gallons           0      0.0
spac_gallons           0      0.0
slat_gallons           0      0.0
sint_gallons           0      0.0
tdomt_gallons          0      0.0
total_cost             0      0.0
tint_gallons           0      0.0
total_gallons          0      0.0
sdomt_cost             0      0.0
satl_cost              0      0.0
spac_cost              0      0.0
slat_cost              0      0.0

In [18]:
df_fuel_comsumption = df_fuel_comsumption.dropna()
#df_fuel_comsumption.head()

In [19]:
#to show missing values have been removed from data fuel consumption dataframe
total_fuel_comsumption = df_fuel_comsumption.isnull().sum().sort_values(ascending=False)
percent_fuel_comsumption = (df_fuel_comsumption.isnull().sum()/df_fuel_comsumption.isnull().count()).sort_values(ascending=False)
missing_fuel_comsumption = pd.concat([total_fuel_comsumption, percent_fuel_comsumption], axis=1, keys=['Total', 'Percent'])
missing_fuel_comsumption.head(20)

                   Total  Percent
year                   0      0.0
ts_gallons             0      0.0
airline_id             0      0.0
unique_carrier         0      0.0
carrier                0      0.0
carrier_name           0      0.0
carrier_group_new      0      0.0
sdomt_gallons          0      0.0
satl_gallons           0      0.0
spac_gallons           0      0.0
slat_gallons           0      0.0
sint_gallons           0      0.0
tdomt_gallons          0      0.0
total_cost             0      0.0
tint_gallons           0      0.0
total_gallons          0      0.0
sdomt_cost             0      0.0
satl_cost              0      0.0
spac_cost              0      0.0
slat_cost              0      0.0

#### **Task 1**: Test the hypothesis that the delay is from Normal distribution. and that **mean** of the delay is 0. Be careful about the outliers.

#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

#### **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

#### **Task 5**: What is the average percentage of delays that is already created before departure? (aka are arrival delays caused by departure delays?) Are airlines able to lower the delay during the flights?

#### **Task 6**: How many states cover 50% of US air traffic?

#### **Task 7**: Test the hypothesis whether planes fly faster when there is the departure delay?

#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?