## Exploratory Data Analysis

Use this notebook to get familiar with the datasets we have. There is 10 questions we need to answer during the EDA.


We shouldn't limit our EDA to these 10 questions. Let's be creative :).

In [74]:

import matplotlib.pyplot as plt
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib.patches import ConnectionPatch
from collections import OrderedDict
from matplotlib.gridspec import GridSpec

from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from scipy.optimize import curve_fit
plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.options.display.max_columns = 50
%matplotlib inline
warnings.filterwarnings("ignore")

In [ ]:
#Hello my name is cam

In [72]:
#df_train = pd.read_csv('sample_submission.csv')
#df_train

In [51]:
import pandas as pd

df = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/flights_test.csv')
#prints full flights_tests dataframe will all columns
#print (df)
print(df.columns)
df.shape

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'],
      dtype='object')

(660556, 20)

In [ ]:
df_flights_total = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/flights.csv')
#prints full flights dataframe will all columns
df_flights_total.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-08-11,WN,WN,WN,2779,WN,N7831B,2779,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-08-11,WN,WN,WN,3413,WN,N743SW,3413,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-11,WN,WN,WN,4131,WN,N7738A,4131,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-08-11,WN,WN,WN,4159,WN,N8538V,4159,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-11,WN,WN,WN,4254,WN,N427WN,4254,10800,BUR,...,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_flights_total.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [33]:
len(df_flights_total.columns)

42

In [34]:
#missing values in flight dataframe
total = df_flights_total.isnull().sum().sort_values(ascending=False)
percent = (df_flights_total.isnull().sum()/df_flights_total.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total   Percent
no_name              15927485  1.000000
total_add_gtime      15818552  0.993161
longest_add_gtime    15818549  0.993161
first_dep_time       15818547  0.993160
cancellation_code    15658277  0.983098
late_aircraft_delay  12918001  0.811051
security_delay       12918001  0.811051
nas_delay            12918001  0.811051
weather_delay        12918001  0.811051
carrier_delay        12918001  0.811051
air_time               315221  0.019791
arr_delay              311744  0.019573
actual_elapsed_time    309157  0.019410
taxi_in                281172  0.017653
wheels_on              281162  0.017653
arr_time               275079  0.017271
taxi_out               273274  0.017157
wheels_off             273264  0.017157
dep_delay              263754  0.016560
dep_time               258814  0.016250

In [55]:
#New datafram with selected ourfeatures 

#df_flights_ours_features = df_flights_total[['fl_date' , 'op_unique_carrier', 'op_carrier_fl_num' , 'origin_airport_id', 'origin','origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name','crs_dep_time' , 'dep_delay', 'taxi_out', 'crs_arr_time','arr_delay' , 'crs_elapsed_time' , 'actual_elapsed_time' , 'distance', 'carrier_delay', 'weather_delay','nas_delay', 'security_delay' ,'late_aircraft_delay']]
#df_flights_ours_our features


# dataframe with selected features from teh flight test dataframe

df_flights = df_flights_total[['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance', 'arr_delay']]
df_flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,arr_delay
0,2019-08-11,WN,WN,WN,2779,WN,N7831B,2779,10800,BUR,...,14831,SJC,"San Jose, CA",830,935,N,65.0,1,296,-13.0
1,2019-08-11,WN,WN,WN,3413,WN,N743SW,3413,10800,BUR,...,14831,SJC,"San Jose, CA",2050,2155,N,65.0,1,296,-2.0
2,2019-08-11,WN,WN,WN,4131,WN,N7738A,4131,10800,BUR,...,14831,SJC,"San Jose, CA",1020,1130,N,70.0,1,296,-9.0
3,2019-08-11,WN,WN,WN,4159,WN,N8538V,4159,10800,BUR,...,14831,SJC,"San Jose, CA",1325,1430,N,65.0,1,296,1.0
4,2019-08-11,WN,WN,WN,4254,WN,N427WN,4254,10800,BUR,...,14831,SJC,"San Jose, CA",1650,1805,N,75.0,1,296,-14.0

In [38]:
#shows the top 5 carriers in the data which we will filter the data on, which will limit the amount of data overall

filtered_df= df_flights["op_unique_carrier"].value_counts()[:5].sort_values(ascending=False)
filtered_df

WN    2713963
DL    1939694
AA    1862100
OO    1609494
UA    1246563
Name: op_unique_carrier, dtype: int64

In [56]:
#filter for top 5 carrier airlines to get data from.
flightsWN= df_flights.loc[df_flights['op_unique_carrier'] == "WN"]
flightsDL= df_flights.loc[df_flights['op_unique_carrier'] == "DL"]
flightsAA= df_flights.loc[df_flights['op_unique_carrier'] == "AA"]
flightsOO= df_flights.loc[df_flights['op_unique_carrier'] == "OO"]
flightsUA= df_flights.loc[df_flights['op_unique_carrier'] == "UA"]

In [57]:
#add datafames for 5 top carriers together

frames = [flightsWN, flightsDL, flightsAA, flightsOO,flightsUA]

result = pd.concat(frames)


#print 25000 samples from the top 5 carriers in the filtered total_flights dataframe
sampled_flights_df = result.sample(n = 25000)
sampled_flights_df.tail()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,arr_delay
9442389,2019-05-23,DL,DL,DL,1112,DL,N989AT,1112,13198,MCI,...,13487,MSP,"Minneapolis, MN",647,815,N,88.0,1,393,-1.0
10310634,2019-03-01,AA,AA,AA,1019,AA,N814NN,1019,14831,SJC,...,11298,DFW,"Dallas/Fort Worth, TX",610,1149,N,219.0,1,1438,-27.0
69573,2019-08-13,DL,DL,DL,2781,DL,N908DA,2781,10397,ATL,...,14193,PNS,"Pensacola, FL",2015,2028,N,73.0,1,271,8.0
4183417,2019-12-21,AA,AA,AA,1399,AA,N108UW,1399,11057,CLT,...,14492,RDU,"Raleigh/Durham, NC",1620,1716,N,56.0,1,130,-14.0
2608204,2018-12-11,DL,DL,DL,2402,DL,N312DN,2402,10397,ATL,...,10423,AUS,"Austin, TX",947,1122,N,155.0,1,813,3.0

In [52]:
# shows same dimensionality for columns as test set
print(sampled_flights_df.columns)
sampled_flights_df.shape

(25000, 20)

In [59]:
sampled_flights_df = sampled_flights_df.dropna()
#sampled_flights_df.head()

In [64]:
#Shows there is nomore null values in the dataset
#print(sampled_flights_df.isnull().sum())

In [61]:
len(sampled_flights_df)

24599

In [77]:
print(sampled_flights_df.dtypes)

fl_date               datetime64[ns]
mkt_unique_carrier            object
branded_code_share            object
mkt_carrier                   object
mkt_carrier_fl_num             int64
op_unique_carrier             object
tail_num                      object
op_carrier_fl_num              int64
origin_airport_id              int64
origin                        object
origin_city_name              object
dest_airport_id                int64
dest                          object
dest_city_name                object
crs_dep_time                   int64
crs_arr_time                   int64
dup                           object
crs_elapsed_time             float64
flights                        int64
distance                       int64
arr_delay                    float64
dtype: object

In [76]:
#( Convert the date to datetime64)
sampled_flights_df['fl_date'] = pd.to_datetime(sampled_flights_df['fl_date'], format='%Y-%m-%d')

In [ ]:
# Filter data between two dates
filtered_df = df_flights.loc[(df_flights['fl_date'] >= '2019-05-01')
                     & (df_flights['fl_date'] < '2019-12-31')]
# Display
filtered_df

In [ ]:
sampled_flights_df['culmen_depth_mm'].fillna((sampled_flights_df['culmen_depth_mm'].mean()), inplace=True)

In [ ]:
sampled_flights_df['sex'].fillna((sampled_flights_df['sex'].value_counts().index[0]), inplace=True)

In [62]:
#Export concatonated dataframes to a csv file

#sampled_flights_df.to_csv('sampled_train_test_flights_csv')

## Passenger dataframe:

In [ ]:
df_passengers = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/passengers.csv')
#prints full passanger dataframe will all columns
df_passengers.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,1,1,13500,50,0,0,0,293,69,49,...,US,United States,6,629,1,2017,11,1,F,DU
1,1,1,13500,50,0,0,0,522,129,82,...,US,United States,6,629,1,2017,11,2,F,DU
2,1,1,18740,70,48,0,0,73,49,24,...,US,United States,6,631,1,2017,11,1,F,DU
3,1,1,13500,50,0,0,0,604,134,92,...,US,United States,6,629,1,2017,11,2,F,DU
4,1,1,15200,76,0,0,0,924,168,112,...,US,United States,6,673,1,2017,11,2,F,DU

In [26]:
#missing values in passengers dataframe
total_passengers = df_passengers.isnull().sum().sort_values(ascending=False)
percent_passengers = (df_passengers.isnull().sum()/df_passengers.isnull().count()).sort_values(ascending=False)
missing_data_passengers = pd.concat([total_passengers, percent_passengers], axis=1, keys=['Total', 'Percent'])
missing_data_passengers.head()

               Total  Percent
data_source        0      0.0
air_time           0      0.0
carrier_group      0      0.0
carrier_name       0      0.0
carrier            0      0.0

In [ ]:
df_passengers = df_passengers.dropna()
#df_passengers.head()

In [ ]:
#to show that the total_passengers = df_passengers.isnull().sum().sort_values(ascending=False)
percent_passengers = (df_passengers.isnull().sum()/df_passengers.isnull().count()).sort_values(ascending=False)
missing_data_passengers = pd.concat([total_passengers, percent_passengers], axis=1, keys=['Total', 'Percent'])
missing_data_passengers.head(20)

                      Total  Percent
origin_country            3      0.0
data_source               0      0.0
air_time                  0      0.0
carrier_name              0      0.0
carrier                   0      0.0
region                    0      0.0
unique_carrier_name       0      0.0
airline_id                0      0.0
unique_carrier            0      0.0
ramp_to_ramp              0      0.0
carrier_group_new         0      0.0
distance                  0      0.0
mail                      0      0.0
freight                   0      0.0
passengers                0      0.0
seats                     0      0.0
payload                   0      0.0
departures_performed      0      0.0
carrier_group             0      0.0
origin_airport_id         0      0.0

In [ ]:

df_fuel_comsumption = pd.read_csv (r'/Users/cameronstevens/Documents/Midterm_project/fuel_comsumption.csv')
#prints full fuel consumption dataframe will all columns
df_fuel_comsumption = df_fuel_comsumption.dropna()
#df_fuel_comsumption.head()

In [ ]:
#missing values in fuel consumption dataframe
total_fuel_comsumption = df_fuel_comsumption.isnull().sum().sort_values(ascending=False)
percent_fuel_comsumption = (df_fuel_comsumption.isnull().sum()/df_fuel_comsumption.isnull().count()).sort_values(ascending=False)
missing_fuel_comsumption = pd.concat([total_fuel_comsumption, percent_fuel_comsumption], axis=1, keys=['Total', 'Percent'])
missing_fuel_comsumption.head(20)

                   Total  Percent
year                   0      0.0
ts_gallons             0      0.0
airline_id             0      0.0
unique_carrier         0      0.0
carrier                0      0.0
carrier_name           0      0.0
carrier_group_new      0      0.0
sdomt_gallons          0      0.0
satl_gallons           0      0.0
spac_gallons           0      0.0
slat_gallons           0      0.0
sint_gallons           0      0.0
tdomt_gallons          0      0.0
total_cost             0      0.0
tint_gallons           0      0.0
total_gallons          0      0.0
sdomt_cost             0      0.0
satl_cost              0      0.0
spac_cost              0      0.0
slat_cost              0      0.0

In [ ]:
df_fuel_comsumption = df_fuel_comsumption.dropna()
#df_fuel_comsumption.head()

In [ ]:
#to show missing values have been removed from data fuel consumption dataframe
total_fuel_comsumption = df_fuel_comsumption.isnull().sum().sort_values(ascending=False)
percent_fuel_comsumption = (df_fuel_comsumption.isnull().sum()/df_fuel_comsumption.isnull().count()).sort_values(ascending=False)
missing_fuel_comsumption = pd.concat([total_fuel_comsumption, percent_fuel_comsumption], axis=1, keys=['Total', 'Percent'])
missing_fuel_comsumption.head(20)

                   Total  Percent
year                   0      0.0
ts_gallons             0      0.0
airline_id             0      0.0
unique_carrier         0      0.0
carrier                0      0.0
carrier_name           0      0.0
carrier_group_new      0      0.0
sdomt_gallons          0      0.0
satl_gallons           0      0.0
spac_gallons           0      0.0
slat_gallons           0      0.0
sint_gallons           0      0.0
tdomt_gallons          0      0.0
total_cost             0      0.0
tint_gallons           0      0.0
total_gallons          0      0.0
sdomt_cost             0      0.0
satl_cost              0      0.0
spac_cost              0      0.0
slat_cost              0      0.0

#### **Task 1**: Test the hypothesis that the delay is from Normal distribution. and that **mean** of the delay is 0. Be careful about the outliers.

#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

#### **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

#### **Task 5**: What is the average percentage of delays that is already created before departure? (aka are arrival delays caused by departure delays?) Are airlines able to lower the delay during the flights?

#### **Task 6**: How many states cover 50% of US air traffic?

#### **Task 7**: Test the hypothesis whether planes fly faster when there is the departure delay?

#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?